@charset "iso-8859-1";
body {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-decoration: none; color: black;
scrollbar-face-color:#B0C4DE;
scrollbar-arrow-color:#F5F5F5;
scrollbar-track-color:#A5ADD3;
scrollbar-shadow-color:#A9A9A9;
scrollbar-highlight-color:#B0C4DE;
scrollbar-3dlight-color:#808080;
scrollbar-darkshadow-Color:#696969;
} 
INPUT {BACKGROUND-COLOR: #B0C4DE; COLOR: #708090; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; font-weight: bold;border-style: solid; border-width: 1}
SELECT {BACKGROUND-COLOR: #B0C4DE; COLOR: #708090; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; font-weight: bold}
.polices  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 9px; font-weight: bold; color: #4682B4; TEXT-DECORATION: none
}
.polices2 { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; font-weight: bold; color: #F5F5F5; TEXT-DECORATION: none
}
.text0    { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 10px; font-weight: bold; color: #C0C0C0; TEXT-DECORATION: none
}
.text1    { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 19px; font-weight: bold; color: #7B68EE; TEXT-DECORATION: bold
}
.text2 	  { font-family: Geneva, Arial, Helvetica, san-serif; COLOR: #4682B4; FONT-SIZE: 10px; TEXT-DECORATION: bold; font-weight: bold;
}
.text3 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; font-weight: bold; color: #8DA1B5; TEXT-DECORATION: bold
}
.text4 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 11px; font-weight: bold; color: #E6E6FA; TEXT-DECORATION: bold
}
.text5 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; font-weight: bold; color: #708090; TEXT-DECORATION: bold
}
.text6 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 14px; font-weight: bold; color: #E1EEFB; TEXT-DECORATION: bold
}
.text7 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; font-weight: bold; color: #A9A9A9; TEXT-DECORATION: bold
}
.text8 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; font-weight: bold; color: #808080; TEXT-DECORATION: bold
}
.text9 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; font-weight: bold; color: #808080; TEXT-DECORATION: bold
}
.text10 	  { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 14px; font-weight: bold; color: #708090; TEXT-DECORATION: bold
}
A:link {
	COLOR: #A9A9A9; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #808080; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A:active {
	COLOR: #D3D3D3; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #F5F5F5; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
